.card {
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  border: 1px solid gray;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  color: var(--blacky);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 0.8rem;
  text-decoration: none;
  width: 162px;
}

.card img {
  border-radius: 3%;
  height: 160px;
  width: 160px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: small;
  margin-top: 0.5rem;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
}

