.container {
  background-color: var(--white);
  border: 1px solid var(--purple);
  border-radius: 0.25rem;
  color: var(--purple);
  display: flex;
  flex-direction: column;
  font-size: 8px;
  height: 40px;
  justify-content: center;
  left: 50%;
  margin: auto;
  position: fixed;
  right: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 999;
}
