.footer {
  background-color: #41197f;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  position: fixed;
  width: 100%;
}

.icons {
  background-color: var(--purple-100);
  border-radius: 20%;
  margin-top: 0.3rem;
  padding: 0.2rem;
}
