.header {
  align-items: center;
  background-color: var(--purple);
  display: flex;

  /* height: 175px; */
  height: 52px;
  justify-content: space-around;
  width: 100%;
}

.header button {
  background-color: var(--purple);
  border: none;
}

.title {
  color: var(--yellow);
  font-weight: 900;
  text-transform: uppercase;
}
