.buttons {
  align-items: flex-start;
  display: flex;
  height: 90px;
  justify-content: space-between;
  margin-top: 0.8rem;
  max-width: 100%;
  text-align: center;
  width: 98%;
}

.buttons button {
  background-color: var(--white);
  border: none;
  font-size: small;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
