.container {
  align-items: center;
  background-color: var(--purple);
  border: 1px;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  height: 85px;
  left: 11px;
  margin: auto;
  text-align: center;
  top: 168px;
  width: 345px;
}

.radioInput {
  accent-color: var(--yellow-200);
}
