.container {
  align-items: center;
  background-color: var(--purple);
  border: 1px;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  height: 85px;

  /* justify-content: space-between; */
  left: 11px;
  margin: auto;
  text-align: center;
  top: 168px;
  width: 345px;
}

/* .container input[ type = 'radio' ] {
  color: red;
  text-indent: 1.2rem;
} */

.searchBar button {
  background-color: var(--yellow-200);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-weight: 900;
  height: 25px;
  margin-top: 0.9rem;
  width: 209px;
}

/*
.searchBar {
  background-color: var(--white);
} */

/* .searchBar input::placeholder {
    color: var(--gray);
    text-indent: 1.2rem;
} */

.searchInput {
  background-color: red;
  color: red;
}
