:root {
  --white: white;
  
  --background: white;
  
  --purple:  #41197F;

  --yellow-200:  #FCC436;

  --yellow: #FCDC36;


  --box-shadow: 0px 7px 15px 0px #44495540;

  --input-border: 0.5px solid #41197F
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Epilogue , sans-serif;
}
