:root {
  --white: white;

  --black: black;
  
  --background: white;
  
  --purple:  #41197F;

  --purple-100:  rgba(71, 65, 75, 0.5);

  --yellow-100: #f8e3ad;

  --yellow-200:  #FCC436;
  
  --yellow: #FCDC36;

  --gray: #797D86;

  --gray-100: #d8d8d8;

  --gray-200: #584F4F;

  --box-shadow: 0px 5px 10px 0px rgb(201, 192, 192);

  --input-border: 0.5px solid #41197F
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Epilogue , sans-serif;
}
